@model IEnumerable<MVC_ProductApplication.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Grocery Shop</h2>

@if (TempData["infoMessage"] != null)
{
    <div class="alert alert-info">
        <strong>Info: </strong> @TempData["infoMessage"]
        <button type="button">
        </button>
    </div>
}
else if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success ! </strong> @TempData["SuccessMessage"]
        <button type="button">
        </button>
    </div>
}
else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Error ! </strong> @TempData["ErrorMessage"]
        <button type="button">
        </button>
    </div>
}


<p>
    @Html.ActionLink("Create New Item", "Create", null, new { @class = "btn btn-primary" })

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qty)
        </th>

        <th>Operations</th>
    </tr>

    @foreach (var CurrentItem in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => CurrentItem.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => CurrentItem.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => CurrentItem.qty)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = CurrentItem.id }, new { @class = "btn btn-primary" }) &nbsp;&nbsp;&nbsp;
                @Html.ActionLink("Delete", "Delete", new { id = CurrentItem.id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
